.first-row {
    margin-top: -2vh;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    
    /*gap: 1vw;*/
}

.second-row {
    padding-top: 5vh;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    gap: 3vw;
}

/*//////////////////////////////////////////////////////// MQTT-BAR ////////////////////////////////////////////////////////*/

.mqtt-bar {
    margin-left: 5vw;
    display: flex;
    flex-direction: row;   
    width: 44vw;
}


/*//////////////////////////////////////////////////////// MQTT-MESSAGES ////////////////////////////////////////////////////////*/

.mqtt-messages {
    display: flex;
    flex-direction: column;
    
}

.empty-incoming-msg-body, .empty-outgoing-msg-body {
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 22vw;
    border: none
}

.mqtt-incoming,
.mqtt-outgoing {
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 22vw;
}

.mqtt-incoming {
    border-style: solid;
    border-color: black;
    border-top: none;
    border-left: none;
}

.mqtt-outgoing {
    border-right-style: solid;
    border-right-color: black;
}

.incomingMsg-topic,
.outgoingMsg-topic  {
    float: left;
    width: 30%;
    height: 100%;
}

.incomingMsg-message,
.outgoingMsg-message {
    float: left;
    width: 70%;
    height: 100%;
}

.incomingMsg-topic,
.incomingMsg-message-content-row-column-key,
.outgoingMsg-topic,
.outgoingMsg-message-content-row-column-key {
    border-right-style: solid;
    border-right-color: black;
}

.incomingMsg-topic-title, .incomingMsg-message-title,
.incomingMsg-message-content-row,
.outgoingMsg-topic-title, .outgoingMsg-message-title,
.outgoingMsg-message-content-row {
    border-bottom-style: solid;
    border-bottom-color: black;
    text-align: center;
}

.incomingMsg-topic-content,
.outgoingMsg-topic-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.incomingMsg-message-content-row,
.outgoingMsg-message-content-row {
    display: flex;
}

.incomingMsg-message-content-row-column-key,
.incomingMsg-message-content-row-column-value,
.outgoingMsg-message-content-row-column-key,
.outgoingMsg-message-content-row-column-value   {
    float: left;
    width: 50%;
    padding: 1rem;
}

.mqtt-bar, .device-bar {
    border-style: solid;
    border-color: black;

}

.mqtt-topics {
    width: 100%;
    margin: 0;
    padding: 0;
}

.topics-header-row {
    display: flex;
    border-bottom-style: solid;
    border-bottom-color: black;
    height: 5%;
    width: 100%;
}

.topics-topic, 
.topics-subscribe, 
.topics-publish {
    width: 33%;
    height: 100%;
    float: left;
    align-self: center;
    padding-left: 1vw;
}

.topics-subscribe,
.topics-data-subscribe-column {
    border-style: solid;
    border-color: black;
    border-top: none;
    border-bottom: none;
}

.topics-data {
    display: flex;
    height: 95%;
    width: 100%;
}

.topics-data-topic-column,
.topics-data-subscribe-column,
.topics-data-publish-column {
    width: 33%;
    height: 100%;
    float: left;
}

.topics-data-topic-column-rows,
.topics-data-subscribe-column-rows,
.topics-data-publish-column-rows {
    border-bottom-style: solid;
    border-bottom-color: black;
    padding-right: 1vw; 
    padding-left: 1vw;
}

.topics-data-topic-column-rows {
    text-align: right;
    
}

.device-bar {
    width: 40vw;
}

.devices-header-row {
    display: flex;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
}

.devices-clientID,
.devices-deviceID {
    padding-left: 1vw;
    padding-right: 1vw;
    float: left;
    width: 30%;
    border-right-style: solid;
    border-right-color: black;
}

.devices-data {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.devices-data-clientID-column,
.devices-data-deviceID-column {
    float: left;
    width: 35%;
    border-right-style: solid;
    border-right-color: black;
}

.devices-data-clientID-column-rows,
.devices-data-deviceID-column-rows {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: black;
    width: 100%;
}


.third-row {
    float: right;
    width: 80vw;
    height: 100%;
    margin-right: 5vw;
}

#chart-container {
    width: 600px;
    height: 400px;
}

.temperature-chart {
    width: 80%;
    height: 1vh;
}